//All Colors

// Theme Color
$theme: #20BEAD;
$theme-light: #1ca597;
$green_ish: #c9f1ef;
$bg_theme: #F8F7FB;
$light-green: #d5f5f2;
$black_theme: #24394D;
$light-blue: rgba(94, 74, 243, 0.64);
$ash: rgba(83, 83, 83, 0.64);

//

//End Of All Colors
